<div class="company-header text-center">
  <div class="row">
    <div class="columns small-12 margin-bottom-lg">
      <div id="support-header">
        <div class="wrapper">
          <h1 class="headline">Help Center</h1>
          <p class="margin-top-xs">Everything <em>Applegate<span class="reg">Â®</span></em>: Search articles, FAQs,
            product information and more.</p>
          <br><br>
          <div class="row">
            <div class="columns medium-6 medium-offset-3">
              <h2 class="visibility-hidden">{{ t 'search' }}</h2>
              {{search submit=false instant=settings.instant_search class='search search-full'}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- end #company-header -->

<div class="container">
  <section class="section knowledge-base">
    <h2 class="visibility-hidden">{{ t 'categories' }}</h2>
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li class="blocks-item">
                {{#is name 'Product Questions'}}
                  <a href='{{url}}' class="blocks-item-link">
                    <img src="{{asset 'product-questions.png'}}" class="float-center" />
                  </a>
                  {{else}}
                    {{#is name 'Where to Buy'}}
                      <a href='{{url}}' class="blocks-item-link">
                        <img src="{{asset 'where-to-buy.png'}}" class="float-center">
                      </a>
                      {{else}}
                        {{#is name 'Product Complaints'}}
                          <a href='{{url}}' class="blocks-item-link">
                            <img src="{{asset 'product-complaints.png'}}" class="float-center">
                          </a>
                          {{else}}
                            {{#is name 'Mission'}}
                              <a href='{{url}}' class="blocks-item-link">
                                <img src="{{asset 'mission.png'}}" class="float-center">
                              </a>
                            {{/is}}
                        {{/is}}
                    {{/is}}
                {{/is}}
              </a>
            </li>
          {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>

    {{#if promoted_articles}}
      <section class="articles" style="display: none;">
        <h2>{{t 'promoted_articles'}}</h2>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
                <a href="{{url}}">
                  {{title}}

                  {{#if internal}}
                    <span class="icon-lock" title="{{t 'internal'}}"></span>
                  {{/if}}
                </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>

  <div class="content dashboard row" id="other-inquiries">
    <div class="columns medium-10 medium-offset-1">
      <div class="row text-center background--texture__white padding-md margin-bottom-md">
        <h2 class="headline h2">Other Inquiries</h2>
        <ul class="text-link-list row">
          {{#each categories}}
            {{#if ../has_multiple_categories}}
              {{#is name 'Product Questions'}}
                {{#each sections}}
                  {{#is name 'Other Inquiries'}}
                    {{#each articles}}
                    <li class="text-link-list__item"><a href="{{url}}" class="link--green">{{title}}</a></li>
                    {{/each}}
                  {{/is}}
                {{/each}}
              {{/is}}
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <div class='text-center margin-bottom-md' id='get-in-touch'>
        <h2 class="h2 headline margin-bottom-sm">Get in Touch</h2>
        <ul class="contact-options">
          <li class="contact-options__item">
            <a href='mailto:help@applegate.com' class="link-email">
              <p><img src="{{asset 'email-us.png'}}" /></p>
              <p>Email Us</p>
            </a>
          </li>
          <li class="contact-options__item">
            <a href="tel:8665875858">
              <p><img src="{{asset 'call-us.png'}}" /></p>
              <p>866-587-5858</p>
            </a>
          </li>
          <li class="contact-options__item">
            <a href="https://www.facebook.com/applegate" target="_blank">
              <p><img src="{{asset 'facebook-contact.png'}}" /></p>
              <p>Facebook</p>
            </a>
          </li>
          <li class="contact-options__item">
            <a href="sms://+19087255800?&amp;body=Hey%20Applegate%20ðŸŒ­ðŸ¥“ðŸ”%20I%20have%20a%20question..." target="_blank">
              <p><img src="{{asset 'texting-icon.png'}}" /></p>
              <p>908-725-5800</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Start of applegate Zendesk Widget script -->
  <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=94ae22da-2826-4eda-8a79-c3cd06054094"> </script>
  <!-- End of applegate Zendesk Widget script -->

  <script>
    $(window).load(function() {
      $(".link-email").on("click", function(e){
        $('.zEWidget-launcher').contents().find('button').click();
        e.preventDefault();
      });
    });
  </script>
</div>
